* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:focus {
  outline: none;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.float-r {
  float: right;
}
.clearfix:after {
  content:""; 
  display: block; 
  clear:both; 
}
.width_1000 {
  width: 1000px;
}
.pagination {
  padding: 20px 0;
}

.hd {
  padding: 8px 14px;
  background-color: #D4E9FC;
  color: #181938;
  font-size: 14px;
  font-weight: 500; 
  letter-spacing: 1px;
}
.card-con {
  padding: 10px 14px;
  color: #333;
  font-size: 14px;
}
.card-con li {
  line-height: 28px;
}
.card-con li span:hover{
  color: #E95F55;
  cursor: pointer;
}
.card-con li span,
.card-con li::before {
  vertical-align: middle;
}
.card-con li::before {
  display: inline-block;
  content: '';
  width: 5px;
  height: 5px;
  margin-right: 10px;
  background-color: #FFA400;
  box-shadow:0px 4px 10px 0px rgba(251,174,79,0.6);
  border-radius: 50%;
}
.btn-green {
  color: #fff;
  background: linear-gradient(to right, #47B59D, #58DD9C);
  box-shadow:0px 3px 6px 0px rgba(88,221,156,0.39);
  text-align: center;
}
.btn-green:hover {
  cursor: pointer;
  color: #f4f4f4;
  box-shadow:0px 3px 6px 0px rgba(71,181,157,0.39);
}

.el-menu--horizontal > .el-menu-item,
.el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 40px;
  line-height: 40px;
}