* {
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.clearfix:after {
  content:""; 
  display: block; 
  clear:both; 
}
.width_1000 {
  width: 1000px;
}

.el-menu--horizontal > .el-menu-item,
.el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 40px;
  line-height: 40px;
}